*{
    /* border: 1px dashed black; */
}

:root{
    
--primary:#1B72E8;

--side:#051E34;

--tag:#F26E5B;

--yellow:#FFC416;

--green:#198754;

--red:#DC3545;

--gray:#f8f9fa;

--bell:#ff8f00;

--blue:#165bba;

}

/* #region Utiliti*/

.text_bell{
    color: #ff8f00;
}

.bg_blue{
    background: #165bba !important;
}
.bg_gray{
    background: #f8f9fa !important;
}

/* #endregion Utiliti*/

img{
    max-width: 100%;
}
.nav_bar{
    position:fixed !important;
    top: 0vh;
    width: 100%;
    height: 60px;
}

main{
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-color:var(--gray);
    
}

.side_bar{
    width: 100px;
    height: calc(100vh - 60px);
    background-color:var(--side);
    background-image: url(../img/sidebar-bg.png) ;
}

.info_student{
    background-color:var(--primary);
}








<img width="20px" 
src="./assets/img/class-avatar.jpg"
 alt="avatar">
